.home {
	display: flex;
	flex-direction: column;
	width: 100%;

	.head {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		margin-bottom: 30px;
		padding-top: 50px;


		h1 {
			font-size: 44px;
		}
		.sort_wrapper {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 30px;
		}
	}

	.results {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
